/* GENERAL STYLES ----------------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter' !important;
    font-weight: 300;
}

.section {
    min-height: 100vh;
    padding: 4em;
}

/* HEADER ------------------------------------------------------------------ */

header {
    color: white;
}

header img {
    height: 70px;
}

header div a {
    font-weight: 500;
    position: relative;
}

header div a:hover {
    border-bottom: 3px solid white;
}


@media (max-width: 1000px) {
    .hidden {
        display: none;
    }
}

/* HOME --------------------------------------------------------------------*/

#home {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-image: url(./imgs/Unbenannt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#home h1 {
    width: 70vw;
}

@media (max-width: 900px) {
    #home {
        padding-left: 2em;
        padding-right: 2em;
    }

    #home h1, #home h2 {
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
        align-self: center;
    }

    #home h3 {
        font-size: 1.7rem;
        width: 90%;
        text-align: center;
        align-self: center;
    }
}

/* ABOUT -------------------------------------------------------------------*/

#about {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 7em;
    padding-top: 14em;
}

#about h2 {
    position: relative;
    display: inline;
    z-index: 2;
}

#about h2::after {
    content: "";
    position: absolute;
    background-color: rgb(252, 237, 102);
    top: 85px;
    left: 20px;
    height: 27%;
    width: 95%;
    z-index:-10;
}

.about-text {
    width: 35vw;
}

.about-picture {
    position: relative;
    align-self: center;
}

.about-picture::before {
    position: absolute;
    content: "";
    border-top: 1px solid darkgray;
    border-left: 1px solid darkgray;
    height: 100%;
    width: 100%;
    top: -20px;
    left: -20px;
    z-index: 0;
}

.about-picture::after {
    position: absolute;
    content: "";
    background-color: rgb(252, 237, 102);
    height: 100%;
    width: 100%;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.about-picture img {
    width: 450px;
    position: relative;
    z-index: 1;
}

@media (max-width: 1400px) {
    #about {
        flex-direction: column;
        text-align: center;
        gap: 5em;
    }

    .about-text {
        width: 85%;
        align-self: center;
    }

    .about-picture {
        width: 400px;
    }
}

@media (max-width: 1200px) {
    #about {
        gap: 3em;
        padding-top: 10em
    }
}

@media (max-width: 900px) {
    #about {
        gap: 3em;
        padding-top: 7em;
    }
    
    .about-text {
        width: 100%
    }

    .about-picture {
        width: 350px;
    }
}


/* PROJECTS --------------------------------------------------------------- */

#portfolio {
    background-color: rgb(93, 158, 101);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portfolio i {
    color: rgb(76, 133, 83);
}

#portfolio .first {
    color: white;
}

#portfolio i:hover {
    color: rgba(255, 255, 255, 0.795);
    cursor: pointer;
}

#portfolio h2 {
    position: relative;
    display: inline;
    z-index: 2;
    text-align: center;
}

#portfolio h2::after {
    content: "";
    position: absolute;
    background-color: rgb(76, 133, 83);
    top: 47px;
    left: -10px;
    height: 40%;
    width: 99%;
    z-index:-10;
}

#portfolio>p {
    margin-top: 1em;
    margin-bottom: 3em;
    text-align: center;
    font-size: 1em;
    width: 50vw;
}
.project-container {
    display: flex;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
}

.project-container i {
    margin-top: 2.5em;
    font-size: 3rem;
    cursor: pointer;
}

.project-container i:hover {
    color: rgba(255, 255, 255, 0.795);
}

.project {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    transition: 0.2s;
}

.project:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.project .image-container {
    position: relative;
}

.project .image-container::before {
    position: absolute;
    content: "";
    background-color: rgb(76, 133, 83);
    height: 100%;
    width: 100%;
    top: -20px;
    left: -20px;
}

.project .image-container::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%;
    top: 20px;
    left: 20px;
}

.project .image-container img {
    position: relative;
    z-index: 1;
}

.project h3 {
    margin-top: 2em;
}

.project a:hover {
    text-decoration: underline;
}

.hidden-project {
    display: none;
}

.more-projects-button {
    display: none;
    background-color: rgb(76, 133, 83);
    font-weight: 500;
    padding: 1em;
    transition: 0.2s ease-out
}

.more-projects-button:hover {
    background-color: rgb(63, 114, 69);
}

@media (max-width: 1730px) {
    #portfolio i {
        display: none;
    }

    .more-projects-button {
        display: flex;
    }
}

@media (max-width: 1500px) and (min-width: 1022px) {
    .hidden-project {
        display: flex;
    }
}

@media (max-width: 1020px) and (min-width: 700px) {
    .project {
        width: 500px;
    }
}


@media (max-width: 1000px) {
    #portfolio>p {
        width: 100%;
    }
}



/* CONTACT ---------------------------------------------------------------- */

#contact {
    min-height: 82vh;
}

#contact h2 {
    position: relative;
    display: inline;
    z-index: 1;
}

#contact h2::after {
    content: "";
    position: absolute;
    background-color: rgb(252, 237, 102);
    top: 48px;
    left: 20px;
    height: 40%;
    width: 96%;
    z-index:-10;
}

#contact h3 {
    width: 384px
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
}

form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 400;
}

form input, form textarea {
    background-color: rgba(197, 197, 197, 0.1);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.164); */
    padding: 15px;
}

input[type="submit"] {
    cursor: pointer;
    background-color: rgb(252, 237, 102);
    align-self: flex-start;
    transition: 0.2s ease-out;
}

input[type="submit"]:hover {
    background-color: rgb(228, 214, 89);
}

/* FOOTER -----------------------------------------------------------------*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
}

.footer-left {
    display: flex;
    gap: 2em;
}

.footer-left i {
    font-size: 1.5rem;
}